/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
*{
    font-family: sans-serif;
}

.flex{
    display: flex;
}
/* header */
header{
    height: 50px;
    background-color: black;
    justify-content: flex-end;
    gap: 5px;
}

header a{
    text-decoration: none;
    color: white;
    background-color:rgb(74,74,74);
    padding: 11px;
    height: 20px;
    border-radius: 5px 5px;
    font-size: 12px;
    line-height: 1px;
    vertical-align: middle;
}


/* main */

main{
    height: calc(100vh - 150px);
    margin: 0 auto;
    background-color: black;
    overflow-y: auto;
    padding-bottom: 15px;
}


.container{
    max-width: 1800px;
    height: 160px;
    margin: auto;
    padding: 40px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.imgcontainer{
    height: 150px;
    width: 400px;
    background-image: url(https://picsum.photos/seed/picsum/260/110);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

div p{
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: rgba(100,100,100,0.8);
    padding: 5px;
}
/* footer */

footer{
    height: 100px;
    background-color:rgb(34,34,34);
    align-items: center;
    justify-content: flex-end;
}


.endbutton{
    color: red;
    height: 100%;
    padding: 10px;
    background-color: rgb(74,74,74);
    line-height: 80px;

}
    